@import "primeicons/primeicons.css";
*,
*::before,
*::after {
    box-sizing: border-box;
}
html{
    color-scheme: light dark;
}
body{
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100svh;
    max-height: 100svh;
}
img,
svg,
video{
    max-width: 100%;
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}