<header>
    <nav>
        <div class="logo">
            <a routerLink="/" routerLinkActive="active">
                <i class="pi pi-book"></i>
                <h1>Keep Notes</h1>
            </a>
        </div>
        <ul>
            <li>
                <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input type="text" pInputText #filterInput
                    placeholder="Search" (input)="filterNotes(filterInput.value)" />
                </p-iconField>
            </li>
            <li>
                <button type="button" pButton icon="pi pi-{{ isDarkTheme ? 'sun' : 'moon' }}" (click)="toggleTheme()"></button>
            </li>
        </ul>
    </nav>
</header>