ul{
    list-style-type: none;
}
i{
    font-size: 1.5rem;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-radius: calc(var(--border-radius) * 100);
    border: 1px solid var(--surface-border);
    

    ul{
        margin: 0;
        padding: 0.5rem 1rem;
        display: flex;
        gap: 1rem;
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        h1{
            margin: 0;
        }
    }
}
